In [34]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import torch
import torch.optim as optim
from sklearn.metrics import mean_squared_error

In [35]:
housing = pd.DataFrame(pd.read_csv('Housing.csv'))
housing.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [36]:
m = len(housing)

In [37]:
#Splitting the Data into Training and Testing Sets
from sklearn.model_selection import train_test_split

#We specify this so that the train and test data set always have the same rows, respectively
np.random.seed(0)
df_train, df_test = train_test_split(housing, train_size = 0.8, test_size = 0.2)
df_train.shape, df_test.shape

((436, 13), (109, 13))

In [38]:
num_vars = ['area', 'bedrooms', 'bathrooms', 'stories', 'parking', 'price']
df_Newtrain = df_train[num_vars]
df_Newtest = df_test[num_vars]
df_Newtrain.head()

     area  bedrooms  bathrooms  stories  parking    price
542  3620         2          1        1        0  1750000
496  4000         2          1        1        0  2695000
484  3040         2          1        1        0  2870000
507  3600         2          1        1        0  2590000
252  9860         3          1        1        0  4515000

In [39]:
import warnings
warnings.filterwarnings('ignore')

from sklearn.preprocessing import MinMaxScaler, StandardScaler
m_scaler = MinMaxScaler()
s_scaler = StandardScaler()
#MinMax First
df_Newtrain[num_vars] = s_scaler.fit_transform(df_Newtrain[num_vars])
df_Newtest[num_vars] = s_scaler.fit_transform(df_Newtest[num_vars])

In [40]:
Y_Normtrain = df_Newtrain.pop('price')
X_Normtrain = df_Newtrain.copy()
Y_Normtest = df_Newtest.pop('price')
X_Normtest = df_Newtest.copy()

In [41]:
Y = Y_Normtrain.values[:]
Y_test = Y_Normtest.values[:]

In [42]:
X1 = df_Newtrain.values[:, 0] #Area values
X2 = df_Newtrain.values[:, 1] #Bedroom values
X3 = df_Newtrain.values[:, 2] #Bathroom values
X4 = df_Newtrain.values[:, 3] #Stories values
X5 = df_Newtrain.values[:, 4] #Parking values

X1_test = df_Newtest.values[:, 0] #Area values
X2_test = df_Newtest.values[:, 1] #Bedroom values
X3_test = df_Newtest.values[:, 2] #Bathroom values
X4_test = df_Newtest.values[:, 3] #Stories values
X5_test = df_Newtest.values[:, 4] #Parking values

In [44]:
m_train = len(Y_Normtrain)
m_test = len(Y_Normtest)
m_train, m_test

(436, 109)

In [54]:
#Start to implement a Neural network
import torch.nn as nn
linear_model = nn.Linear(8, 1)

In [49]:
#Not sure if this is right
#Predicted vs Actual
def loss_fn(t_p, t_c):
    squared_diffs = (t_p - t_c)**2
    return squared_diffs.mean()

In [50]:
loss_rate_of_change_b = (loss_fn(model(X1, X2, X3, X4, X5, W1, W2, W3, W4, W5, b+delta), Y) - loss_fn(model(X1, X2, X3, X4, X5, W1, W2, W3, W4, W5, b-delta), Y)) / (2.0 * delta)
loss_rate_of_change_b
b = b - learning_rate * loss_rate_of_change_b

In [51]:
linear_model = nn.Linear(8, 1)
optimizer = optim.SGD(linear_model.parameters(), lr=1e-2)

In [52]:
def training_loop(n_epochs, optimizer, model, loss_fn, x_train, x_val, y_train, y_val):
    for epoch in range(1, n_epochs + 1):
        W1, W2, W3, W4, W5, b = params
        
        t_p = model(X1, X2, X3, X4, X5, W1, W2, W3, W4, W5, b)
        loss = loss_fn(t_p, Y)
        grad = grad_fn(X1, X2, X3, X4, X5, Y, t_p, W1, W2, W3, W4, W5, b)
        
        params = params - learning_rate * grad
        
        if (epoch == 1) or (epoch % 500 == 0):
            print('Epoch %d, Loss %f' % (epoch, float(loss)))
            print('MSE: ', mean_squared_error(Y, t_p))
            print(' ')
    return params